<div class="container text-center card">
    <div class="row header">
        <div class="col-md-12">

        </div>
    </div>

    <div class="col-md-6">
        <legend>{% trans %}Social Media{% endtrans %}</legend>

        <div class="social-box">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="p-mini">
                            <a href="https://facebook.com/na-zeleno">
                                <i class='icon-facebook-sign'></i>
                            </a>
                        </p>
                    </div>
                    <div class="panel-footer" style="background-color: rgb(59, 89, 152)">
                        Facebook
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="p-mini">
                            <a href="https://twitter.com/niseorg">
                                <i class='icon-twitter-sign'></i>
                            </a>
                        </p>
                    </div>
                    <div class="panel-footer" style="background-color: rgb(29, 161, 242);">
                        Twitter
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p class="p-mini">
                            <a href="https://plus.google.com/niseorg">
                                <i class='icon-google-plus-sign'></i>
                            </a>
                        </p>
                    </div>
                    <div class="panel-footer" style="background-color: rgb(255, 101, 80);">
                        Google+
                    </div>
                </div>
            </div>
        </div>



        <div style="margin-top: 50px;">
            <legend>{% trans %}Need more info?{% endtrans %}</legend>
            <p class="text-align: left;">
            <address>
                <strong>{% trans %}Organization Name{% endtrans %}</strong><br>
                {% trans %}Email{% endtrans %}: vesela.ferdinandova@na-zeleno.com<br>
                Twitter: @twitterAccount<br>
                {% trans%}Telephone{% endtrans %}:
            </address>
            </p>
        </div>



    </div>
    <div class="col-md-6">
        <div id="messages"></div>
        <legend>{% trans %}Send us a message{% endtrans %}</legend>

        <form class="contact-form">
            <div id="group-name" class="form-group">
            <label for="name">* {% trans %}Name{% endtrans %}</label>
            <input type="text" id="name" name="name" value="" class="form-control" placeholder="{% trans %}Enter your name{% endtrans %}..." />
                <span class="help-block"></span>
            </div>
            <div id="group-email" class="form-group">
            <label for="email">* {% trans %}Email{% endtrans %}</label>
            <input type="text" id="email" name="email" value="" class="form-control"  placeholder="{% trans %}Enter your email{% endtrans %}..." />
            <span class="help-block"></span>
            </div>
            <div id="group-message" class="form-group">
            <label for="msg">* {% trans %}Message{% endtrans %}</label>
            <textarea name="msg" id="message" cols="40" rows="5" class="form-control" rows="3" placeholder="{% trans %}Enter your message{% endtrans %}..."></textarea>
                <span class="help-block"></span>
            </div>
            <br />
            <button class="btn btn-default contact" style="color: green">{% trans %}Send Message{% endtrans %}</button>

        </form>
    </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans %}Success{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-close"class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>