{% extends '@GoGreen/base.html.twig' %}
{% block content %}
    {{ parent() }}
<div class="row container_custome">
    <div class="col-lg-6">
        <h3>{{ page.title }}</h3></div>
    <div class="col-lg-12" >{{ page.description | raw}}</div>
</div>
{% endblock %}
