{% extends '@Admin/base.html.twig' %}
{% block body %}
    {{ parent() }}
{{ form_start(deactivate_form) }}
<div class="uk-modal-header">
    <h3 class="uk-modal-title">Deactivate this Cabin?</h3>
</div>
<p>
    Are you sure you want to deactivate  '{{ cabin.name }}'?<br/>
    This cannot be undone.
</p>
<div class="uk-modal-footer uk-text-right">
    <div>
        <button type="submit" class="md-btn md-btn-danger" title="Click to proceed!">
            <i class="uk-icon-trash"></i> Deactivate
        </button>
        <button type="reset" class="md-btn md-btn-warning uk-modal-close">Cancel</button>
    </div>
</div>
{{ form_end(deactivate_form) }}
{% endblock %}
