{% extends '@GoGreen/greenObject/detail_view.html.twig' %}
            {% block fish_collection %}
                <div class="col-lg-6 text-justify">
                    {% include '@GoGreen/dam/fish_collection.html.twig' %}
                </div>
            {% endblock %}
