
<!DOCTYPE html>
<html>
<head>
 <title>{% trans %}Go Green{% endtrans %}</title>
   <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://openlayers.org/en/v3.11.2/css/ol.css" type="text/css">
   <script src="https://openlayers.org/en/v3.11.2/build/ol.js"></script>
   <link rel="stylesheet" href="https://openlayers.org/en/v3.11.2/examples/popup.css">
   <style>
      .ol-popup {
         position: absolute;
         background-color: white;
         -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
         filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
         padding: 15px;
         border-radius: 10px;
         border: 1px solid #cccccc;
         bottom: 12px;
         left: -50px;
         min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
         top: 100%;
         border: solid transparent;
         content: " ";
         height: 0;
         width: 0;
         position: absolute;
         pointer-events: none;
      }
      .ol-popup:after {
         border-top-color: white;
         border-width: 10px;
         left: 48px;
         margin-left: -10px;
      }
      .ol-popup:before {
         border-top-color: #cccccc;
         border-width: 11px;
         left: 48px;
         margin-left: -11px;
      }
      .ol-popup-closer {
         text-decoration: none;
         position: absolute;
         top: 2px;
         right: 8px;
      }
      .ol-popup-closer:after {
         content: "✖";
      }

   </style>
</head>
<body>
<div class="container-fluid">

   <div class="row-fluid">
      <div class="span12">
         <div id="map" class="map"></div>
         <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
         </div>
      </div>
   </div>

</div>

<script>

    /**
     * Elements that make up the popup.
     */
    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');

    /**
     * Create an overlay to anchor the popup to the map.
     */
    var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    }));

    /**
     * Add a click handler to hide the popup.
     * @return {boolean} Don't follow the href.
     */
    closer.onclick = function() {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
    };

    var dots = [];



    {%  for greenObject in greenObjects %}
        var dot = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.fromLonLat([{{ greenObject.long }}, {{ greenObject.lat }}]))
        });

    var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
            anchor: [0.5, 46],
            anchorXUnits: 'fraction',
            anchorYUnits: 'pixels',
            opacity: 0.75,
            src: 'https://openlayers.org/en/v4.2.0/examples/data/dot.png',
            overlays: [overlay]
        }))
    });

//    dot.setStyle(new ol.style.Style({
//        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
//            color: '#8959A8',
//            crossOrigin: 'anonymous',
//            src: 'https://openlayers.org/en/v4.2.0/examples/data/dot.png'
//        }))
//    }));
    dot.setStyle(iconStyle);
    dot.on('onclick', function(evt) {
        var coordinate = evt.coordinate;
        var hdms = ol.coordinate.toStringHDMS(ol.proj.transform(
            coordinate, 'EPSG:3857', 'EPSG:4326'));

        content.innerHTML = '<p>You clicked here:</p><code>' + hdms +
            '</code>';
        overlay.setPosition(coordinate);
    });

    dots.push(dot);

    {% endfor %}


//    var london = new ol.Feature({
//        geometry: new ol.geom.Point(ol.proj.fromLonLat([-0.12755, 51.507222]))
//    });
//
//    var madrid = new ol.Feature({
//        geometry: new ol.geom.Point(ol.proj.fromLonLat([-3.683333, 40.4]))
//    });

//    rome.setStyle(new ol.style.Style({
//        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
//            color: '#8959A8',
//            crossOrigin: 'anonymous',
//            src: 'https://openlayers.org/en/v4.2.0/examples/data/dot.png'
//        }))
//    }));
//
//    london.setStyle(new ol.style.Style({
//        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
//            color: '#4271AE',
//            crossOrigin: 'anonymous',
//            src: 'https://openlayers.org/en/v4.2.0/examples/data/dot.png'
//        }))
//    }));
//
//    madrid.setStyle(new ol.style.Style({
//        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
//            color: [113, 140, 0],
//            crossOrigin: 'anonymous',
//            src: 'https://openlayers.org/en/v4.2.0/examples/data/dot.png'
//        }))
//    }));


    var vectorSource = new ol.source.Vector({
        features: dots
    });

    var vectorLayer = new ol.layer.Vector({
        source: vectorSource
    });
//
//    var rasterLayer = new ol.layer.Tile({
//        source: new ol.source.TileJSON({
//            url: 'https://api.tiles.mapbox.com/v3/mapbox.geography-class.json?secure',
//            crossOrigin: ''
//        })
//    });


    var tileLayer =  new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    var map = new ol.Map({
        layers: [tileLayer, vectorLayer],
        target: document.getElementById('map'),
        view: new ol.View({
            center: ol.proj.fromLonLat([{{ userLocation.lon }}, {{ userLocation.lat }}]),
            zoom: 8
        }),
        overlays: [overlay]
    });

    map.addOverlay(popup);
</script>
</body>
</html>
