<form name="search_locaitons" method="post" action="{{ path('post_map_view') }}" data-toggle="validator" role="form">
<div class="row center-block">
    <div class="col-md-12">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <span class="col-md-4 custom-border">
                    <input type="text" class="form-control input-group-lg" name="km" id="km" placeholder="{% trans %}Radios in km{% endtrans %}" value="" />
                </span>
                <span class="col-md-4 custom-border">
                <input class="form-control input-group-lg" required name="search" id="search" placeholder="{% trans %}Search by Location{% endtrans %}" />
                </span>
                <span class="col-md-4">
                        <input type ="submit" class="btn btn-success btn-lg" id="search_button"  value="{% trans %} Start  {% endtrans %} ">
                    </span>
            </div>
        </div>
    </div>
</div>
</form>
