<div class="row">
    {% include '@Dam/dam/search.html.twig' %}
</div>
<br/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Price{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% if damCollection is not null %}
        {% for dam in dams %}
            <tr>
                <td>{{ dam.name }}</td>
                <td>{{ dam.price }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>
