
<div class="row">
    <div class="col-md-6">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" name="search" id="search" placeholder="{% trans %}Search by Location{% endtrans %}" />
                <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" id="search_button" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </div>
    </div>
</div>
